
{{#if error }}
<div class="container p-2">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa-solid fa-triangle-exclamation me-1"></i>
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if success }}
<div class="container p-2">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa-solid fa-circle-check me-1"></i>
                {{success}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
{{/if}}
